<h1>sampomap</h1>
<h3>新規spot</h3>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="actions">
    <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 30 %><br>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <br>
    <%= f.label :詳細 %>
    <%= f.text_field :detail, :size => "150" %><br>
    <%= f.hidden_field :lat,:value =>"緯度", id: :lat %>
    <%= f.hidden_field :lng,:value =>"経度", id: :lng %>
    <input type="button" value="住所取得" onclick="getAddress();">
    <%= f.text_field :street_address, :id =>"addressOutput",:size => "150" %>
  <%= f.submit "spotを投稿する" %>
  </div>
<% end %>
  
<div class = "gmap_registration">
    <h2>Map</h2>

    <input id="address" type="textbox" value="GeekSalon">
    <input type="button" value="encode" onclick="codeAddress()">
    <br>

    <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
    <div id='map'></div>

    <style>
    #map {
      height: 600px;
      width: 600px;
    }
    </style>

    <script>
    //初期マップの設定
    let map
    let marker
    function initMap(){
      geocoder = new google.maps.Geocoder()
      

      map = new google.maps.Map(document.getElementById('map'), {
        center:  {lat: 35.6803997, lng:139.7690174},  //東京
        zoom: 15,

      });
    }

    //検索後のマップ作成
    let geocoder
    let aft
    function codeAddress(){
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
            //マーカーが複数できないようにする
            if (aft == true){
                marker.setMap(null);
            }

            //新しくマーカーを作成する
            map.setCenter(results[0].geometry.location);
                marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location,
                draggable: true // ドラッグ可能にする
            });

            //二度目以降か判断
            aft = true

            //検索した時に緯度経度を入力する
            document.getElementById('lat').value = results[0].geometry.location.lat();
            document.getElementById('lng').value = results[0].geometry.location.lng();

            // マーカーのドロップ（ドラッグ終了）時のイベント
            google.maps.event.addListener( marker, 'dragend', function(ev){
                // イベントの引数evの、プロパティ.latLngが緯度経度
                document.getElementById('lat').value = ev.latLng.lat();
                document.getElementById('lng').value = ev.latLng.lng();
            });
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });   
    }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjiwgPmWOBS1wgobOv5ILh-pdSKjYlMII&callback=initMap" async defer></script>

  </div>
</div>  

<div class = "latlng => adress">
  <script type="text/javascript">
  function getAddress(){

    
    var idoInput = document.getElementById('lat').value;
    var keidoInput = document.getElementById('lng').value;
    var latLngInput = new google.maps.LatLng(idoInput, keidoInput);
    //Google Maps APIのジオコーダを使います。
    var geocoder = new google.maps.Geocoder();
    
    //ジオコーダのgeocodeを実行します。
    //第１引数のリクエストパラメータにlatLngプロパティを設定します。
    //第２引数はコールバック関数です。取得結果を処理します。
    geocoder.geocode(
      {
        latLng: latLngInput
      },
      function(results, status) {
        
        var address = "";
        
        if (status == google.maps.GeocoderStatus.OK) {
        //取得が成功した場合
          
          //住所を取得します。
          address = results[0].formatted_address;
          
        } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
          alert("住所が見つかりませんでした。");
        } else if (status == google.maps.GeocoderStatus.ERROR) {
          alert("サーバ接続に失敗しました。");
        } else if (status == google.maps.GeocoderStatus.INVALID_REQUEST) {
          alert("リクエストが無効でした。");
        } else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
          alert("リクエストの制限回数を超えました。");
        } else if (status == google.maps.GeocoderStatus.REQUEST_DENIED) {
          alert("サービスが使えない状態でした。");
        } else if (status == google.maps.GeocoderStatus.UNKNOWN_ERROR) {
          alert("原因不明のエラーが発生しました。");
        }
        
        //住所の結果表示をします。
        document.getElementById('addressOutput').value = address;
      });

  }
  </script> 
</div>

<%= link_to "spot一覧に戻る", posts_path %>